<!-- Generated template for the RatingComponent component -->
<ion-row>
  <div (click)="updateRating(1)" [ngClass]="{'color-mug': rating?.rating >= 1, 'no-color-mug': rating?.rating < 1, 'large': size == 'large'}"></div>
  <div (click)="updateRating(2)" [ngClass]="{'color-mug': rating?.rating >= 2, 'no-color-mug': rating?.rating < 2, 'large': size == 'large'}"></div>
  <div (click)="updateRating(3)" [ngClass]="{'color-mug': rating?.rating >= 3, 'no-color-mug': rating?.rating < 3, 'large': size == 'large'}"></div>
  <div (click)="updateRating(4)" [ngClass]="{'color-mug': rating?.rating >= 4, 'no-color-mug': rating?.rating < 4, 'large': size == 'large'}"></div>
  <div (click)="updateRating(5)" [ngClass]="{'color-mug': rating?.rating >= 5, 'no-color-mug': rating?.rating < 5, 'large': size == 'large'}"></div>
</ion-row>
