<ion-header>
  <draught-header></draught-header>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col
        size="12" sizeSm="10" offsetSm="1" sizeMd="8" offsetMd="2" sizeLg="6" offsetLg="3" sizeXl="4" offsetXl="4">
      <h1>Password Reset</h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col
        class="ion-text-justify"
        size="12" sizeSm="10" offsetSm="1" sizeMd="8" offsetMd="2" sizeLg="6" offsetLg="3" sizeXl="4" offsetXl="4"
    >
      <ion-spinner *ngIf="loading"></ion-spinner>
      <div class="ion-text-center" *ngIf="!loading">
        <form [formGroup]="resetForm" (ngSubmit)="changePassword()">
          <ion-item>
            <ion-label color="primary" class="ion-text-left" position="floating">New Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" class="ion-text-left" position="floating">Confirm Password</ion-label>
            <ion-input type="password" formControlName="confirm_password"></ion-input>
          </ion-item>
          <ion-button
              [disabled]="resetForm.invalid"
              class="ion-margin-top"
              (click)="changePassword()"
          >
            Submit
          </ion-button>
        </form>
      </div>
    </ion-col>
  </ion-row>
</ion-content>


