<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>Draught Picks</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <div *ngIf="!prefs">
   <p>You don't have preferences! <a (click)="navCtrl.parent.select(2)">Visit your profile.</a></p>
 </div>

  <div *ngIf="prefs">
    <p>Your recommendations will arrive soon!</p>
  </div>
</ion-content>
