page-home {
  .title {
    font-size: 2em;
  }
  ion-icon{
    font-family: sans-serif;
  }
  a{
    text-decoration: none;
  }
  .list-container {
    overflow-y: auto;
    position: relative;
    height: 600px;
  }
}
