<!--
  Generated template for the BeerDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <draught-header></draught-header>
</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col size="12" sizeSm="10" offsetSm="1" sizeMd="8" offsetMd="2" sizeLg="6" offsetLg="3" sizeXl="4" offsetXl="4">
      <ion-row>
        <ion-col text-center>
          <h1>{{ beer.name }}</h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4" class="ion-text-center">
          <span class="sub-heading">
            ABV
          </span>
          <span class="sub-heading">
            <span *ngIf="beer.abv">{{ beer.abv }}%</span>
            <span *ngIf="!beer.abv">N/A</span>
          </span>
        </ion-col>

        <ion-col size="4" class="ion-text-center">
          <span class="sub-heading">
            IBU
          </span>
          <span class="sub-heading">
            <span *ngIf="beer.ibu"> {{ beer.ibu }}</span>
            <span *ngIf="!beer.ibu"> N/A</span>
          </span>
        </ion-col>

        <ion-col size="4" class="ion-text-center">
          <span class="sub-heading">
            Match
          </span>
          <span class="sub-heading">
            <span *ngIf="beer.recommended?.percent_match">{{beer.recommended?.percent_match}}%</span>
            <span *ngIf="!beer.recommended?.percent_match">N/A</span>
          </span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeSm="12" offsetSm="0" sizeMd="9" offsetMd="2" class="ion-text-center">
          <ion-button (click)="createRecent()">I'm drinking this now!</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeSm="12" offsetSm="0" sizeMd="9" offsetMd="2">
          <p *ngIf="hasRating">Your rating:</p>
          <p *ngIf="!hasRating">You haven't rated this beer yet. Tap to rate!</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeSm="12" offsetSm="2" sizeMd="9" offsetMd="2">
          <rating [rating]="beerRating" [size]="'large'" (setRating)="setRating($event)"></rating>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeSm="12" offsetSm="0" sizeMd="9" offsetMd="2">
          <p>Description:</p>
          <br>
          <p>{{ beer?.description }}</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeSm="12" offsetSm="0" sizeMd="9" offsetMd="2">
          <ion-item>
            <ion-label position="floating">
              Tell us what you like:
            </ion-label>
            <ion-textarea rows="5" [(ngModel)]="beerRating && beerRating.description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-text-center">
        <ion-col sizeSm="12" offsetSm="0" sizeMd="9" offsetMd="2">
          <ion-button (click)="saveRatingDescription()">Submit</ion-button>
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>

</ion-content>
