<!-- Generated template for the BeerItemComponent component -->
<div class="pointer" [navPush]="'beer-detail'" [navParams]="beer">
  <ion-row>
    <ion-col col-9 text-left>
      <h1>{{beer.name}}</h1>
    </ion-col>
    <ion-col text-right col-3>
      <span class="percent">98%</span>
      <span text-center>match</span>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-9 text-left>
      <p>Your rating:</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-8>
      <rating [rating]="beer.rating[0]" [size]="small"></rating>
    </ion-col>

    <ion-col col-2 text-right>
      <strong *ngIf="beer.abv">{{ beer.abv }}</strong>
      <strong *ngIf="!beer.abv">N/A</strong>
      <p><strong>ABV</strong></p>
    </ion-col>

    <ion-col col-2 text-right>
      <strong *ngIf="beer.ibu">{{ beer.ibu }}</strong>
      <strong *ngIf="!beer.ibu">N/A</strong>
      <p><strong>IBU</strong></p>
    </ion-col>
  </ion-row>
  <hr>
</div>
